<h2>Your Repertoire is Arranged by Time Period</h2>

<% Era.all.each do |e| %>
    <h3><%= e.name %></h3>
    <ul>
    <% @user.compositions.each do |c| %>
        <% if c.era == e %>
        <li><%= c.composer %>: <%= c.title %></li>
        <% end %>
    </ul>
    <% end %>
<% end %>
