<h2>Add new composition information</h1>

<form action="/compositions/index" method="POST">
    <label for="list">Choose a category for this piece:</label>
    <select id="list" name="list[name]">
        <option value="solo">Solo Composition</option>
        <option value="chamber">Chamber Music</option>
        <option value="concerto">Concerto</option>
    </select>

    <br/><br/>
    <label for="title">Title:</label>
    <input id="title" name="list[composition][title]" placeholder="Title">
    <br/><br/>

    <label for="composer">Composer's Name:</label>
    <input id="composer" name="list[composition][composer]" placeholder="Composer">
    <br/><br/>

    <label for="instrumentation">Instrumentation:</label>
    <input id="instrumentation" name="list[composition][instrumentation]" placeholder="Instrumentation">
    <br/><br/>

    <p>Select the Era:</p>
    <% Era.all.each do |e|%>
    <input type="radio" id="<%= e.name %>" name="list[composition][era_id]" value="<%= e.id %>">
    <label for="<%= e.name %>"><%= e.name %></label><br>
    <% end %>
    <br/><br/>

    <input type="submit" value="submit">
</form>
