<% if flash %>
  <p style="color: red;"><%= flash %></p>
<% end %>

<form action='/signup' method="POST">
  <label for="name">Enter your name:</label>
  <input id="name" type="text" name="name" placeholder="username">
  <br/>
  <br/>
  <label for="password">Create a password:</label>
  <input id="password" type="password" name="password" placeholder="password">
  <br/>
  <br/>
  <input type="submit" value="Sign Up">
</form>